
.border-about-us {
  border: linear-gradient(to right, rgb(229, 206, 192) 50%, #7b5133 50%);
  /* background-image: linear-gradient(to right, #d1d1d1 50%, #7b5133 50%); */
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-right-width: 3px;
  border-top-right-radius: 1rem;
  /* You might need to adjust the value based on your design */
  border-bottom-right-radius: 1rem;
}

.border-about-us-r {
  border: linear-gradient(to right, rgb(229, 206, 192) 50%, #7b5133 50%);
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-left-radius: 1rem;
  /* You might need to adjust the value based on your design */
  border-bottom-left-radius: 1rem;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  color: rgb(80, 79, 79);
  /* font-optical-sizing: auto; */
  font-weight: 100;
  font-style: dark;
  font-size: 16px; 
  /* line-height: 12px;  */
  /* line-break: auto; */
}

.line-gradient-about {
  background: linear-gradient(to right,
      rgb(229, 206, 192) 25%,
      rgb(169, 128, 111) 25% 50%,
      rgb(139, 97, 79) 50% 75%,
      rgb(95, 58, 41) 75%);
}